<% books_data.each do |book| %>


<div class="col-lg-4 p-4 d-flex justify-content-center " >
    <div class="card shadow" style="width: 18rem;">
			<% if (book["cover_i"]) %>
                <%= image_tag "http://covers.openlibrary.org/b/id/#{book["cover_i"]}-L.jpg", class: "card-img-top" %>
			<% else %>
				<%= image_tag "index.png", class: "card-img-top" %>
			<% end %>	
        
    
        <div class="card-body" style="border: red; height: auto;" >

                <h5 class="card-title">
                    <%= book["title"] %>
                </h5>
            <% if (book["isbn"]) %>
                <%= link_to "Learn More", "/book#{book["key"]}/#{book["isbn"][0]}", class: "btn btn-secondary" %>
            <% else %>
                <%= link_to "Learn More", "/book#{book["key"]}", class: "btn btn-secondary" %>
            <% end %>
        </div>
    </div>
</div>


<% end %>

