

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 d-flex flex-column justify-content-center align-items-center p-2">
			<% if (@book["covers"]) %>
				<%= image_tag "http://covers.openlibrary.org/b/id/#{@book["covers"][0]}-L.jpg", class: "book_image" %>
			<% else %>
				<%= image_tag "index.png", class: "book_image" %>
			<% end %>	
			<%= link_to "Preview", "#{@preview}", class: "btn btn-secondary preview_btn" %>
		</div>
		<div class="col-sm-9 p-2">
			<h1><%= @book["title"] %></h1>
			<h6>by <%= @author %>  </h6>
			<h2 class="text-secondary text-wrap">Overview</h2>


			<% if (@book["description"]) %>
				<%= @book["description"] %>
			<% else %>
				<%= render plain: "No Overview available" %>
			<% end %>


		</div>
	</div>
	<div class="row m-4">
		<div class="border border-secondary p-2">
			<h2>Reviews</h1>

			<div>	
				<% if (@reviews == []) %>
					<h1>No Reviews</h1>
				<% else %>
					<%= render partial: "review" %>
				<% end %>	
			</div>

			<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="review form">Add Review</button>

			<div class="collapse multi-collapse">
			<%= render partial: "review_form" %>
			</div>	

		</div>

	</div>

	<div class="row m-4">
		<% if (@suggestions == []) %>
			<h1>No Suggestions</h1>
		<% else %>
			<%= render partial: "suggestions" %>
		<% end %>	

	</div>

	

</div>




